<nav class="navbar fixed-top navbar-light bg-dark  p-1">
    <button class="btn btn-light btn-sm" (click)="saveCourse()">save</button>
    <div *ngIf="selectedNode">
        <div class="btn-group mr-2">
            <button class="btn btn-light btn-sm" (click)="copyNode()">copy</button>
            <button *ngIf="copiedNode" class="btn btn-light btn-sm" (click)="pastNode()">past</button>
        </div>
        <div class="btn-group" *ngIf="selectedNode.parent">
            <button class="btn btn-sm btn-light" (click)="downNode()" style="width:40px;">&#8595;</button>
            <button class="btn btn-sm btn-light" (click)="upNode()" style="width:40px;">&#8593;</button>
        </div>
    </div>
</nav>
<div class="bg-light" style="padding-bottom:400px; margin-top:40px;">
    <div *ngIf="course">
        <editor-course-node (nodeSelectd)="onNodeSelected($event)" [node]="course"></editor-course-node>
    </div>
</div>
