<div class="container d-flex flex-column justify-content-center" style="height:100%;">
    <div class="card bg-dark text-white text-center">

        <div class="card-body">

            <button type="button" class="btn btn-secondary btn-block my-5" (click)="newCourse()">
                <h3>New</h3>
            </button>

            <button type="button" class="btn btn-secondary btn-block my-5" (click)="openCourse()">
                <h3>Open</h3>
            </button>

        </div>
    </div>
</div>
